body {
  margin: 0 10%;
  background-color: #2d4059;
}
.wrapper {
  display: flex;
  width: 100%;
  gap: 15px;
}

h1 {
  color: #fff;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leader {
  flex: 1;
  background-color: aliceblue;
  padding: 15px;
  border: 1px solid #96bb7c;
  border-radius: 5px;
  filter: drop-shadow(1px 2px 1px #61b922);
}

.leader-item {
  display: flex;
  border: 1px solid #96bb7c;
  border-radius: 1px;
  justify-content: space-evenly;
}

.color1 {
    background-color: #8db174;
}

p {
  margin-left: 10px;
}

.refresh {
  width: 75px;
  height: 30px;
}

.add {
  flex: 1;
  background-color: aliceblue;
  padding: 15px;
  border: 1px solid #96bb7c;
  border-radius: 5px;
  filter: drop-shadow(1px 2px 1px #61b922);
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-form input {
  padding: 5px;
  height: 30px;
  color: #f9f9f9;
  border: 1px solid #96bb7c;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px #61b922);
}

.submit {
  width: 75px;
  height: 30px;
  margin-left: auto;
}

.gray {
  background-color: #96bb7c;
}

h2 {
  color: #96bb7c;
}

.btn {
  background-color: #96bb7c;
  color: #fff;
  border: 1px solid #61b922;
  border-radius: 5px;
}

.btn:hover {
  background-color: #61b922;
  color: #fff;
  border: 1px solid #96bb7c;
  border-radius: 5px;
}
